# Install path on router: /etc/ruijie/env
# chmod 600 /etc/ruijie/env

RUIJIE_USERNAME="YOUR_STUDENT_ID"
RUIJIE_PASSWORD="YOUR_PASSWORD"
RUIJIE_NIC="wan"

RUIJIE_EAP_BCAST="1"
RUIJIE_DHCP_TYPE="2"
RUIJIE_SERVICE="internet"
# spaces: always keep quotes
RUIJIE_VERSION_STR="RG-SU For Linux V1.31"
RUIJIE_FAKE_SERIAL="OPENWRT-001"
RUIJIE_HEARTBEAT="60"
RUIJIE_MODULE="rjv3"

# Optional offline install URL for minieap .ipk
# MINIEAP_IPK_URL=""
